<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="urbanstew.RehearsalAssistant" android:versionCode="11" android:versionName="0.5.0">
<application android:icon="@drawable/icon" android:debuggable="true" android:label="Rehearsal Assistant" android:allowClearUserData="true">
    <activity android:name=".RehearsalAssistant" android:label="Rehearsal Assistant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    <activity android:name="RehearsalPlayback"><intent-filter><action android:name="android.intent.action.VIEW"></action>
<category android:name="android.intent.category.DEFAULT"></category>
<data android:mimeType="vnd.android.cursor.item/vnd.urbanstew.session"></data>
</intent-filter>
	</activity>
	<activity android:name="RehearsalRecord"><intent-filter><action android:name="android.intent.action.EDIT"></action>
<category android:name="android.intent.category.DEFAULT"></category>
<data android:mimeType="vnd.android.cursor.item/vnd.urbanstew.session"></data>
</intent-filter>
	</activity>
	<activity android:name="NewRun"><intent-filter>
<data android:mimeType="vnd.android.cursor.dir/vnd.urbanstew.session"></data>
<action android:name="android.intent.action.INSERT"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
	</activity>
<provider android:name="RehearsalData" android:authorities="com.urbanstew.provider.RehearsalAssistant"></provider>
<activity android:name="ProjectOpener"><intent-filter><action android:name="android.intent.action.VIEW"></action>
<category android:name="android.intent.category.DEFAULT"></category>
<data android:mimeType="vnd.android.cursor.item/vnd.urbanstew.project"></data>
</intent-filter>
</activity>
<activity android:name="SessionProject"></activity>
<activity android:name="SimpleProject"></activity>
</application>

<uses-permission android:name="android.permission.VIBRATE"></uses-permission>

<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

</manifest> 